body {
    overflow: hidden;
  }
  /* ----------- */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  /* ---------------------- */
  .containerR {
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
  }
  
  img {
    width: 95px;
  }
  
  .containerL {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
  }
  
  /* -----------------SIDEBAR------------------------- */
  body::-webkit-scrollbar {
    display: none;
  }
  
  .voirsite {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .voirsite h4 {
    color: black;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 30px;
  }
  
  .voirsite #element1,
  #element2 {
    color: #ee4d2d;
    height: 30px;
    width: 30px;
  }
  
  .sidebarcote .mat-list-item {
    color: white;
    margin-left: 3px;
    border-radius: 5px;
  }
  
  .sidebarcote .mat-list-item:hover {
    background: #e3f1ff;
  }
  
  button {
    background: none;
    border: #ee4d2d;
  }
  
  .sidebarcote .mat-list-item button {
    color: black;
  }
  
  .test {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-left: 10px;
    color: #ee4d2d;
  }
  
  /* Ensure the container fills the screen */
  .containerprincipal {
    margin-top: 5rem; /* Height of the main navigation bar to avoid overlap */
    width: 100vw;
    height: calc(100vh - 5rem); /* Full height minus the height of the toolbar */
  }
  
  /* Styles pour la barre de navigation latérale */
  .sidebarcote {
    width: 250px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding-top: 50px;
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
    position: fixed;
    top: 5%;
    left: 0;
    z-index: 999; /* Assure que la barre latérale est en dessous de la barre d'outils */
    overflow-y: auto; /* Ajoute un défilement vertical si nécessaire */
  }
  
  mat-toolbar.principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff; /* Couleur de fond de la barre d'outils */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0 16px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Assure que la barre de navigation est au-dessus des autres éléments */
  }
  
  .containerprincipal {
    margin-top: 5rem; /* Hauteur de la barre de navigation principale pour ne pas chevaucher */
  }
  
  /* -----------------------ACTIVE------------------------------ */
  .active {
    border-left: 7px solid #ee4d2d; /* Adjust color as needed */
    background-color: var(--activeColor); /* Grey background */
  }
  
  /* --------------------------Queries----------------------------------------------- */
  /* Media Query for small screens */
  @media (max-width: 620px) {
    mat-drawer-content {
      width: 100vw;
    }
    .active {
      border: none;
      border-bottom: 7px solid #ee4d2d; /* Adjust color as needed */
      background-color: var(--activeColor); /* Grey background */
    }
  
    .sidebarcote {
      width: 80px;
      background-color: white;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      padding-top: 5px;
      height: 100vh; /* Prend toute la hauteur de la fenêtre */
      position: fixed;
      top: 5%;
      overflow-y: auto; /* Ajoute un défilement vertical si nécessaire */
    }
    .sidebarcote .mat-list-item {
      background: none;
      margin: 0;
      text-align: left;
    }
  
    .sidebarcote .mat-list-item button {
      display: flex;
      flex-direction: row;
    }
  
    .sidebarcote .mat-list-item button .mat-icon {
      font-size: 20px;
    }
  
    .sidebarcote .mat-list-item button span {
      display: none;
    }
  }
  