<div class="tablecontainer">
  <!-- Bouton pour ajouter un produit -->
  <div class="searchetajout">
    <button class="btn add-user-btn" (click)="openAddProductDialog()">
      Ajouter un produit
    </button>
  </div>

  <!-- Table des produits -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 user-table">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let product">{{ product.id }}</td>
    </ng-container>

    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let product">
        <img [src]="product.mainImageUrl" alt="{{ product.name }}" class="produitImage"/>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nom de Produit</th>
      <td mat-cell *matCellDef="let product">{{ product.name }}</td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Prix</th>
      <td mat-cell *matCellDef="let product">{{ product.price }}</td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantité</th>
      <td mat-cell *matCellDef="let product">{{ product.quantity }}</td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let product">{{ product.description }}</td>
    </ng-container>

    <!-- SubCategory Column -->
    <ng-container matColumnDef="subCategory">
      <th mat-header-cell *matHeaderCellDef>Sous-Catégorie</th>
      <td mat-cell *matCellDef="let product">{{ product.subcategoryId }}</td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let product">
        <!-- Bouton pour éditer le produit -->
        <button class="btn_action" mat-icon-button (click)="openEditProductDialog(product)">
          <i class="fa-regular fa-pen-to-square edit-icon"></i>
        </button>

        <!-- Bouton pour supprimer le produit -->
        <button class="btn_action" mat-icon-button (click)="deleteProduct(product.id)">
          <i class="fa-solid fa-trash delete-icon"></i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <!-- Paginator -->
  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" class="pagination"></mat-paginator>
</div>
