<div class="container">
  <div class="item" style="background-color: #ffcccb;">
    <div class="top-row">
      <i class="fa-solid fa-user monicone"></i>
      <span>Utilisateurs</span>
    </div>
    <h3 class="statistique">500</h3>
  </div>
  <div class="item" style="background-color: #add8e6;">
    <div class="top-row">
      <i class="fa-solid fa-shop monicone"></i>
      <span>Boutique</span>
    </div>
    <h3 class="statistique">90</h3>
  </div>
  <div class="item" style="background-color: #90ee90;">
    <div class="top-row">
      <i class="fa-solid fa-cart-shopping monicone"></i>
      <span>Produits</span>
    </div>
    <h3 class="statistique">265</h3>
  </div>
  <div class="item" style="background-color: #ffeb3b;">
    <div class="top-row">
      <i class="fa-solid fa-list monicone"></i>
      <span>Catégories</span>
    </div>
    <h3 class="statistique">136</h3>
  </div>
</div>
